body {
    background-color: #FFFFD6;
}

p {
    font: Verdana, Arial,sans-serif;
    font-size: 50px;
    text-align: center;
    color: #FF6600;
}

td {
    text-align:center;
    line-height:60px;
    margin:10px;10px;10px;10px
}

#grid {
    border-spacing: 20px;
    border-radius: 20px;
    border-color: white;
    background-color: #FF6600;
    height: 710px;
    width:  710px;
    position: relative;
    top: 50%;
    left:50%;
    margin-left: -350px;
}

#status {
    position:relative;
    top:40%;
    left: 10%;
}

.parentCube {
    border-spacing: 10px;
    border-radius: 10px;
    border-color: #FF6600;
    background-color: #FFFFFF;
    position:float;
    height:210px;
    width:210px;
    margin:20px 0px 0px 20px;
    float:left;
}

.childCube {
    border-spacing: 5px;
    border-radius: 5px;
    border-color: #000000;
    background-color: #DA9147;
    position:float;
    height:63px;
    width:63px;
    margin:5px 0px 0px 5px;
    float:left;
}

.empty {
    background-color: #DA9147;
}

.user {
    background-color: #CC2900;
}

.computer {
    background-color: #FFCC99;
}
