
body {
	background-color: #FFFFD6;
}

p {
	font: Verdana, Arial,sans-serif;
	font-size: 45px;
	text-align: center;
	color: #FF6600;
}

table {
	border-spacing: 26px;

	border-radius: 20px;
	border-color: white;

	background-color: #FF6600;

	height: 710px;
	width:  710px;

	position: relative;

	top: 50%;
	left:50%;

	margin-left: -350px;
}

td {
	border-spacing: 26px;
	border-radius: 20px;

	position:float;
	left:10px;
	top:10px;

	height:200px;
	width:200px;

	border-color: #FF6600;

	margin:0px 8px 0px 8px;

	background-color: #FFFFFF;

	float: left;
}

.empty {
	background-color: #FFFFFF;
}

.user {
	background-color: #FF0000;
}

.computer {
	background-color: #00FF00;
}
